<%- include('header') -%>

<h2>This is Our about page, Where you can know everything about Us! </h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nisi debitis ab quibusdam animi.
     Iure tempora magni autem optio, explicabo deserunt nobis expedita quis distinctio quas eum,
      at accusamus similique! </p>

<%- include('footer') -%>